<div class="row justify-content-between">
  <div *ngFor="let stat of statsService.statistics().statistics; trackBy: trackByStatId" class="col-3">
    <div class="stat-card  ">
      <div class="header"><span class="icon" [style.color]="stat.color">{{ stat.icon }}</span><span class="title"> {{
          stat.title }}</span></div>
      <div class="value">{{ stat.value }}</div>
      <div class="change" [ngClass]="stat.changeType">
        {{ stat.change!='0' ? stat.change : '' }} <span class="label">{{ stat.changeLabel }}</span>
      </div>
    </div>
  </div>
</div>
