<form *ngIf="form" [formGroup]="form" class="dialog_form">
  <div class="dialog_body mb-3">

    <div class="p-grid p-fluid mx-0">
      <div class="p-col-12 p-md-12">
        <div class="mb-3">
          <label class="form-label">Title *</label>
          <input formControlName="title" type="text" class="form-control" placeholder="Task title"
            [class.is-invalid]="form.get('title')?.invalid && form.get('title')?.touched" />
          @if (form.get('title')?.invalid && form.get('title')?.touched) {
          <div class="invalid-feedback d-block">
            @if (form.get('title')?.errors?.['required']) {
            Title is required.
            }
          </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label">Description *</label>
          <textarea formControlName="description" class="form-control" rows="3" placeholder=" Description"
            [class.is-invalid]="form.get('description')?.invalid && form.get('description')?.touched"></textarea>
          @if (form.get('description')?.invalid && form.get('description')?.touched) {
          <div class="invalid-feedback d-block">
            @if (form.get('description')?.errors?.['required']) {
            Description is required.
            }
          </div>
          }
        </div>

        <div class="row g-2">
          <div class="col-md-6">
            <label class="form-label">Assignne *</label>
            <select formControlName="assignee" class="form-select"
              [class.is-invalid]="form.get('assignee')?.invalid && form.get('assignee')?.touched">
              <option *ngFor="let u of users()" [ngValue]="u">{{ u.name}}</option>
            </select>
            @if (form.get('assignee')?.invalid && form.get('assignee')?.touched) {
            <div class="invalid-feedback d-block">
              @if (form.get('assignee')?.errors?.['required']) {
              Assignee is required.
              }
            </div>
            }
          </div>
          <div class="col-md-6">
            <label class="form-label">Status</label>
            <select formControlName="status" class="form-select">
              <option *ngFor="let s of statuses" [value]="s.value">{{ s.label }}</option>
            </select>
          </div>

          <div class="col-md-6">
            <label class="form-label">Priority</label>
            <select formControlName="priority" class="form-select">
              <option *ngFor="let p of priorities" [value]="p.value">{{ p.label }}</option>
            </select>
          </div>

          <div class="col-md-6">
            <label class="form-label" for="duecalendarButton">Due date *</label>
            <p-calendar  inputId="duecalendarButton" appendTo="body"
              formControlName="dueDate" [showIcon]="true" [showOnFocus]="false" dateFormat="yy-mm-dd" type="date"
              [ngClass]="{'ng-invalid ng-dirty': form.get('dueDate')?.invalid && form.get('dueDate')?.touched}" />
            @if (form.get('dueDate')?.invalid && form.get('dueDate')?.touched) {
            <div class="invalid-feedback d-block">
              @if (form.get('dueDate')?.errors?.['required']) {
              Due date is required.
              }
            </div>
            }
          </div>
          <div class="col-md-6" *ngIf="isCompletedAt()">
            <label class="form-label" for="completedcalendarButton">Completed At *</label>
            <p-calendar inputId="completedcalendarButton" [maxDate]="today" appendTo="body"
              formControlName="completedAt" [showIcon]="true" [showOnFocus]="false" dateFormat="yy-mm-dd" type="date"
              [ngClass]="{'ng-invalid ng-dirty': form.get('completedAt')?.invalid && form.get('completedAt')?.touched}" />
            @if (form.get('completedAt')?.invalid && form.get('completedAt')?.touched) {
            <div class="invalid-feedback d-block">
              @if (form.get('completedAt')?.errors?.['required']) {
              Completed date is required.
              }
            </div>
            }
          </div>
          <div class="col-md-6">
            <label class="form-label">Tags</label>

            <input #tag formControlName="tags" type="text" class="form-control mb-1" placeholder="Design"
              (keyup.enter)="addTag(tag.value); $event.preventDefault();" />
            <div class="tag-input  p-1">
              <span class="badge tag" *ngFor="let tag of tags; let i = index">
                {{ tag }}
                <button type="button" class="btn-close btn-close-white ms-2" aria-label="Remove"
                  (click)="removeTag(tag)"></button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    @if (errorMessage) {
    <div class="alert alert-danger mb-3" role="alert">
      {{ errorMessage }}
    </div>
    }
  </div>
  <div class="row p-fluid dialog_actions mx-0">
    <div class="col-md-2">
      <button class="save" [loading]="isLoading" [disabled]="isLoading || form.invalid" (click)="save()" label="save"
        pButton type="button" icon="pi pi-save" iconPos="left"></button>
    </div>
    <div class="col-md-2">
      <button class="cancel" [disabled]="isLoading" (click)="close()" label="cancel" pButton type="button"
        icon="pi pi-times" iconPos="left" class="p-button-danger"></button>
    </div>
  </div>
</form>
