@use "styles/dialog" as *;

.tag-input {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 8px;
  position: absolute;
}
.tag {
  display: inline-flex;
  align-items: center;
  background: #eee;
  color: black;
  border-radius: 8px;
  font-size: 12px;
}
.tag .btn-close {
  width: 8px;
  aspect-ratio: 1;
  opacity: 0.9;
}
