@use "styles/variables" as *;
.dialog_form {
  position: relative;
  height: 100%;
}

.dialog_body {
  padding: 10px;
  height: calc(100% - 60px);
  overflow: auto;
  @media (max-width: 768px) {
    height: calc(100% - 100px);
  }
}
.form-label {
  font-weight: 600;
}

.dialog_actions {
  width: 100%;
  button {
    padding: 4px 14px;
    border-radius: 4px;
  }
  .save {
    background-color: $primary-color;
  }
  .cancel {
    color: $danger-color;
  }
}

/* Responsive tweaks */
@media (max-width: 640px) {
  .dialog_form .dialog_body {
    padding: 12px;
  }
}
.tag-input {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 8px;
  position: absolute;
}
.tag {
  display: inline-flex;
  align-items: center;
  background: #eee;
  color: black;
  border-radius: 8px;
  font-size: 12px;
}
.tag .btn-close {
  width: 8px;
  aspect-ratio: 1;
  opacity: 0.9;
}
p-calendar::ng-deep {
  input {
    padding: 0.375rem 0.75rem;
    border: 1px solid #dee2e6;
  }
}
::ng-deep {
  .p-multiselect-panel {
    .p-multiselect-header {
      display: none;
    }
    .p-checkbox {
      display: none;
    }
  }
}
