@import '../../../../styles/variables';

.topbar {
  position: sticky;
  top: 0;
  height: 64px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
  box-shadow: 0px 2px 4px 0px #00000014;
  z-index: 1000;
}
.logo {
  margin: 0px;
  margin-right: 8px;
  font-size: 9px;
  background-color: $primary-color;
  display: inline-block;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
h2 {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: $primary-color;
}
.avatar {
  background-color: $primary-color;
  border-radius: 50%;
}
