@use "styles/variables" as *;
.task-filter {
  background: white;
  height: 60px;
  padding: 4px 14px;
  margin: 25px 0px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  button {
    padding: 8px 14px;

    &:hover,
    &.active {
      background-color: $primary-color;
      color: white;
    }
  }
}
.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}
