$topbar-height: 64px;
app-topbar::ng-deep {
  header{
    height: $topbar-height;
  }
}
.main-content {
  display: flex;
  height: calc(100vh - $topbar-height);
  background-color: #f5f7fa;
  .focus-area{
    flex-grow: 1;
    padding: 24px;
  }
}
app-side-bar {
  height: 100%;
  width: 240px;
  background-color: white;
  box-shadow: 0px 2px 4px 0px #00000014;
  padding: 24px;
}
