@use "styles/variables" as *;
$topbar-height: 64px;

app-topbar::ng-deep {
  header {
    height: $topbar-height;
  }
}

.main-content {
  display: flex;
  height: calc(100vh - $topbar-height);
  background-color: #f5f7fa;

  .focus-area {
    flex-grow: 1;
    padding: 24px;

    @media (max-width: $breakpoint-mobile) {
      padding: 16px;
    }
  }
}

app-side-bar {
  height: 100%;

  @media (max-width: $breakpoint-mobile) {
    width: 0 !important;
    min-width: 0 !important;
    overflow: visible;
  }
}
