<div class="main-layout">

  @defer () {
  <app-topbar></app-topbar>
  } @placeholder {
  <div class="topbar-skeleton px-4 d-flex align-items-center justify-content-between">
    <p-skeleton width="150px" height="40px"></p-skeleton>
    <p-skeleton width="300px" height="40px"></p-skeleton>
    <p-skeleton width="40px" height="40px" shape="circle"></p-skeleton>
  </div>
  }
  <div class="main-content d-flex">
    @defer (on viewport) {
    <app-side-bar></app-side-bar>
    } @placeholder {
    <aside class="sidebar-skeleton p-4 card" >
      <div class="sidebar-header d-flex justify-content-end">
        <p-skeleton width="40px" height="20px" ></p-skeleton>
      </div>
      <nav class="side-bar">
        <ul class="p-0">
          <li *ngFor="let i of [1,2,3,4,5]">
            <div class="skeleton-item d-flex p-2">
              <p-skeleton width="24px" height="24px" shape="circle" class="me-2"></p-skeleton>
              <p-skeleton width="60px" height="30px"></p-skeleton>
            </div>
          </li>
        </ul>
      </nav>
    </aside>
    }

    <div class="focus-area flex-1 p-3">
      @defer (on viewport) {
      <router-outlet></router-outlet>
      } @placeholder {
      <div class="focus-area-skeleton">
        <p-skeleton width="100%" height="300px"></p-skeleton>
        <p-skeleton width="100%" height="300px" class="mt-3"></p-skeleton>
      </div>
      }
    </div>

  </div>

</div>
