<div class="row mt-3 " *ngIf="tasks()">
  <div class="col-12">
    <div style="background-color: white;" class="charts_container">
      <div class=" btn-container pt-2 mx-auto">
        <div class="btn-group">
          <button pButton pRipple type="button" [class.p-button-success]="filter() === 'status'"
            [class.p-button-secondary]="filter() !== 'status'" (click)="changed('status')" label="Status"></button>
          <button pButton pRipple type="button" [class.p-button-success]="filter() === 'priority'"
            [class.p-button-secondary]="filter() !== 'priority'" (click)="changed('priority')">Priority</button>
        </div>
      </div>
      <div class="row mt-0">
        <div class="pi-container col-lg-3">
          <div class="card pie_card p-2 chart-container rounded-1">
            <div>
              <p-chart type="pie" [data]="tasksChartData()" [options]="taskChartOptions()"></p-chart>
            </div>
          </div>
        </div>
        <div class="bar-container  col-lg-9">
          <div class="card p-2 chart-container rounded-1">
            <div>
              <p-chart type="bar" [data]="usersChartData()" [options]="usersChartOptions()"></p-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
