/* You can add global styles to this file, and also import other style files */

@import "./styles/reset";

/* Dialog specific overrides for UpdateTask dialog */


/* Improve default dialog look */
.p-dialog .p-dialog-content {
  padding: 16px 24px;
}
.p-dialog .p-dialog-titlebar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.p-dynamic-dialog  .p-dialog-content {
  padding: 16px 24px;
}
.p-dynamic-dialog .p-dialog-header {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px 8px 0 0; /* rounded top corners */
}
