@use "styles/variables" as *;
$elements-padding: 4px 14px;
.task-filter-bar {
  background: white;
  height: 60px;
  padding: 4px 14px;
  border-radius: 8px;
}
.task-filter {
  align-items: center;
  button {
    padding: $elements-padding;
    margin-inline: 8px;
    font-weight: 400;
    &:hover,
    &.active {
      background-color: $primary-color !important;
      color: white !important;
    }
  }
}
.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.new-task {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: $elements-padding;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}
